<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="per.lai.mapper.MeetingMapper">
    <insert id="addMeeting" parameterType="Meeting">
        insert into meetings.meeting(meetingDescription, meetingName, sponsorId, beginTime, endTime, meetingHosts, meetingLocation, meetingHotel, isPass, name, number, gender, org, fullId, pTime, needRoom)
        value (#{meetingDescription},#{meetingName},#{sponsorId},#{beginTime},#{endTime},#{meetingHosts},#{meetingLocation},#{meetingHotel}, false,#{name},#{number},#{gender},#{org},#{fullId},#{ptime},#{needRoom})
    </insert>
    <delete id="deleteMeetingById" parameterType="int">
        delete from meetings.meeting
        where meetingId = #{meetingId}
    </delete>
    <update id="checkMeetingById" parameterType="int">
        update meetings.meeting
        set isPass = true
        where meetingId = #{meetingId}
    </update>

    <select id="getMeetingBySponsorId" parameterType="int" resultType="Meeting">
        select * from meetings.meeting
        where sponsorId = #{sponsorId}
    </select>

    <select id="getAllMeeting" resultType="Meeting">
        select * from meetings.meeting
    </select>
    <select id="getMeetingPass" resultType="Meeting">
        select * from meetings.meeting where sponsorId != #{sponsorId} and isPass = true;
    </select>
</mapper>